body {
    font-family: Arial, sans-serif;
    background-color: #e9f0f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #20232a;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #20232a;
    color: white;
    text-align: center;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main{
    width: 1250px;
    margin: auto;
    opacity: 95%;
    background-color: gray;
}

section{
    opacity: 100% !important;
    background-color: white;
}

body{
    background-image: url(sportmotor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 90vh; /* A videó magassága az ablak 90%-a lesz */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.tura {
    font-family: Arial, sans-serif;
    background-color: #e9f0f3;
    margin: 0;
    padding: 0;
    background-image: url(turamotor.jpg);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white; /* Szöveg színe fehér */
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lágyabb háttérkiemelés */
}
